body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:#3e5151;
}
.container{
position: absolute;
top: 40%;
left: 40%;

}
.warning{
    text-align: center;
    width:350px;
    height: 60px;
    border-radius: 15px;
    background: linear-gradient(#8360c3,#2ebf91);
    box-shadow: 1px 1px 9px 0px rgb(0 0 0 / 80%);
    padding-top: 7px;
}
.warning span{
    font-size: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin:5px;
    color: #ccc;
   
}